<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>onlyrootsplayer</name>
    <displayName><![CDATA[OnlyRoots Persistent Audio Player]]></displayName>
    <version><![CDATA[3.0.0-alpha6]]></version>
    <description><![CDATA[Persistent cross-page audio player with optional SPA navigation. Theme-agnostic, configurable selectors.]]></description>
    <author><![CDATA[PixFeed]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
